<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="post" action="/piglatinize"
      <label for="phrase"> Enter Your Phrase: </label>
  </body>
</html>
